$signcolormain: rgb(240, 240, 240);
$signcolordarker: rgb(220, 220, 220);
$logocolor: green;
$logobackground: yellow;
$signwidth: 600px;
$signborderwidth: 16px;


.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin sign($w)
{
  margin-left: auto;
  margin-right: auto;
  width: $w;
  background-color: $signcolormain;
  border-color: $signcolordarker; 
  border-width: $signborderwidth;
  border-style: solid;
  border-radius: 5px;
}

@mixin circle($w) {
  border-radius: 50%;
	width: $w;
	height: $w; 
}

@mixin semicircle($w) {
  @include sign($w);
  height: $w / 2;
  border-radius:$w / 2 $w / 2 0 0;
  -moz-border-radius: $w / 2 $w / 2 0 0;
  -webkit-border-radius: $w / 2 $w / 2 0 0;
}

table {
  width: 100%;
  padding: 5px;
  
  tbody tr {
    width: 100%;
    background-color: black;
  }
  
  td {
    font-family: "Lucida Console", Monaco, monospace;
    color: limegreen;
    font-size: 28px;
    padding: 10px;
    margin: 0;
  }
}



#logo {
  @include circle(120px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: $logocolor;
  background-color: $logobackground;  
  border-color: $logocolor; 
  border-width: 10px;
  border-style: solid;
  line-height: 120px;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
}

.textright{
  text-align: right;
}

.signtext {
   font-size: 22px;
   margin-left: 1em;
   font-weight: normal;
   color: black;
 }
 
 .signtextbold {
   font-size: 34px;
   font-weight: bold;
   text-align: center;
   color: black;
 }

 #sign-upper {
   @include semicircle($signwidth);
 } 
 
 #sign-lower {
  @include sign($signwidth);
  margin-top: 10px;
 }  