<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/css/draw.css' />
  {{{_sections.head}}}
</head>

<body>
  <pre>
  <code>
    {{#each code}}
    <span>{{this}}</span>
    {{/each}}
  </code>
  </pre>
</body>
</html>
  