#draw {
  margin: 1em;

  canvas {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  input {
    width: 50%;
  }

  ul {
    padding: 1em;
  
    li {
      list-style: none;
    }
  }
}