{{#section 'head'}}
  <link rel='stylesheet' href='/css/matrix.css' />
{{/section}}

<div id="matrix-ui">
  <canvas id="myCanvas" width="640" height="640" style="border:1px solid #000000;">
  </canvas>

  <p data-bind="text: title"></p>
  <button class="btn btn-primary" data-bind="click: save">Save</button>
  <button class="btn btn-primary" data-bind="click: load">Load</button>
  <canvas id="color-chooser" height="150"></canvas>
</div>

<div id="draw">
  <ul>
  {{#each fetched}}
    <li>
      <span data-world='{{{json this.world}}}' >{{this.id}}</span>
    </li>
  {{/each}}
  </ul>
</div>

{{#section 'scripts'}}
  <script src="/colors.js"></script>
  <script src="/matrix/scripts/game.js"></script>
  <script src="/matrix/scripts/draw.js"></script>
  <script src="/matrix/scripts/main.js"></script>
{{/section}}

