{{#section 'head'}}
  <link rel='stylesheet' href='/css/cal.css' />
{{/section}}

<div id="cal">
  <ul class="appointments" data-bind="foreach: appointments">
    <li data-bind="text: title"></li>
  </ul>
</div>