
<div class="modules">
{{#each hugo.modules.list}}
  <a class="plain-link module" href="/{{this.route}}">
    <i class="fa {{this.icon}} fa-5x"></i>
    <h3>{{this.displayName}}</h3>
  </a>
{{/each}}
</div>