<p class="lead">Modules</p>
<ul class="list-group">
{{#each hugo.modules.list}}
  <li class="list-group-item"><a href="/{{this.name}}">{{this.name}}</a>{{#unless isEnabled}}<i> (disabled)<i>{{/unless}}</li>
{{/each}}
</ul>