
<div class="modules">
{{#each hugo.modules.list}}
  <a class="plain-link module" href="/{{this.name}}">
    <i class="fa {{this.icon}} fa-5x"></i>
    <h2>{{this.displayName}}</h2>
  </a>
{{/each}}
</div>