<div>
  <canvas id="myCanvas" width="640" height="640" style="border:1px solid #000000;">
  </canvas>
</div>

<p data-bind="text: title"></p>
<button data-bind="click: nextGame">Next</button>

{{#section 'scripts'}}
  <script type="text/javascript" src="/matrix/scripts/game.js"></script>
  <script type="text/javascript" src="/matrix/scripts/tictactoe.js"></script>
  <script type="text/javascript" src="/matrix/scripts/snake.js"></script>
  <script type="text/javascript" src="/matrix/scripts/main.js"></script>
{{/section}}

