{{#section 'head'}}
  <link rel='stylesheet' href='/matrix/styles/style.css' />
  <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js" defer></script>
  <script type="text/javascript" src="/matrix/scripts/game.js" defer></script>
  <script type="text/javascript" src="/matrix/scripts/tictactoe.js" defer></script>
  <script type="text/javascript" src="/matrix/scripts/snake.js" defer></script>
  <script type="text/javascript" src="/matrix/scripts/pacman.js" defer></script>
  <script type="text/javascript" src="/matrix/scripts/main.js" defer></script>
{{/section}}

<div>
  
<canvas id="myCanvas" width="640" height="640" style="border:1px solid #000000;">
</canvas>

</div>