{{#section 'head'}}
  <link rel='stylesheet' href='/css/matrix.css' />
{{/section}}

<div id="matrix-ui">
  <canvas id="myCanvas" width="640" height="640" style="border:1px solid #000000;">
  </canvas>

  <p data-bind="text: color"></p>
  <button class="btn btn-primary" data-bind="click: nextGame">Next</button>
  <canvas id="color-chooser" height="150"></canvas>
</div>

<div id="matrix">
  <ul>
  {{#each fetched}}
    <li>
      <span data-world='{{{json this.world}}}' >{{this.id}}</span>
    </li>
  {{/each}}
  </ul>
</div>

{{#section 'scripts'}}
  <script src="/matrix/scripts/game.js"></script>
  <script src="/matrix/scripts/tictactoe.js"></script>
  <script src="/matrix/scripts/snake.js"></script>
  <script src="/matrix/scripts/main.js"></script>
{{/section}}

