$footer-height: 60px;
$text-color: white;

html {
  position: relative;
  min-height: 100%;
  background-color: #252526;
}

body {
  color: $text-color;
  margin-bottom: $footer-height;
  background-color: #252526;
  
  >.container {
    padding: 60px 15px 0;
  }  

  .navbar {
    background: #252526;
    color: $text-color;  
  }  
}

.footer {
  position: absolute;
  border-width: 1px 0 0 0;
  border-style: solid;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  
  .container {
    padding-right: 15px;
    padding-left: 15px;
    
    p {
      margin: 20px 0;
    }
  }
}
