//@import 'reset';

body {
  background-color: #252526;
  color: yellow;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

@import '../../modules/busmon/stylesheets/style'