{{#section 'head'}}
  <link rel='stylesheet' href='/css/weather.css' />
  <link rel='stylesheet' href='/bower_components/weather-icons/css/weather-icons.min.css' />
{{/section}}

<div class='weather-info'>
  <h3><span data-bind="text: name"></span>, <span data-bind="text: description"></span></h3>
  <i class="wi" data-bind="css: icon"></i>
  <span class="temperature" data-bind="text: temp"></span><span class="temperature">°C</span>
</div>
