{{#section 'head'}}
  <link rel='stylesheet' href='/css/weather.css' />
  <link rel='stylesheet' href='/bower_components/weather-icons/css/weather-icons.min.css' />
{{/section}}

<div class='weather-info'>
  <h2 data-bind="text: name"></h2>
  <h2><span data-bind="text: temp"></span> °C</h2>
  <h3 data-bind="text: description"></h3>
  <i class="wi" data-bind="css: icon"></i>
</div>

{{#section 'scripts'}}
<script>
  $(function () {
    $(document).ready(function () {
      const viewModel = ko.mapping.fromJS({{{json fetched}}});
      ko.applyBindings(viewModel);
      setInterval(function () {
        $.getJSON("/weather/api", function (data) {
          ko.mapping.fromJS(data, viewModel);
        });
      }, 1000 * 60 * 5);
    });
  });  
</script>
{{/section}}