/*
*{
  outline: 1px solid red;
}
*/

$footer-height: 60px;
$text-color: #FBFBFB;
$main-background: #1E1E1E;
$tile-background: #3F3F46;

$a-tags: 'a, a:active, a:hover, a:visited, a:active';

html {
  position: relative;
  height: 100%;
  background-color: $main-background;
}

body {
  height: 100%;
  overflow-y: hidden;
  color: $text-color;
  background-color: $main-background;
  font-family: 'Quicksand', sans-serif;
  >.container {
    padding: $footer-height 15px 0;
  } 

  .navbar {
    background: #252526;
    color: $text-color;
  }  
}

#{$a-tags} {
  color: $text-color;
  text-decoration: none;
}
a.plain-link:hover {
  background-color: lighten($tile-background, 10%)
}

.tile {
  background-color: $tile-background;
  position: fixed;
  border-radius: 3px;
  padding: 0.5em;
  bottom: 0.5em;
  height: 3em;
  opacity: 0.6;
  z-index: 5000;
}

#main-main {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.home {
  @extend .tile;
  //background: black;
  width: 3em;
  line-height: 3em;
  text-align: center;
  vertical-align: middle;  
  left: 0.5em;
  i {
    font-size: xx-large;
  }
}

#datetime {
  @extend .tile;
  right: 0.5em;
  padding: 0 0 0 0.5em;
  line-height: 3em;
  .time {
    font-size: xx-large;
  }
  .seconds {
    display: inline-block;
    width: 20px;
    opacity: 0.5;
  }
}
.modules {
  margin: 1em;
}

.module {
  // stitch
  //outline: 1px dashed $text-color;
  //outline-offset: -2px;
  width: 9.5em;
  height: 9.5em;
  text-align: center;
  display: inline-block;
  background-color: $tile-background;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 3px;
  h3 {
    margin-top: 0.7em;
  }
}

.footer {
  position: absolute;
  border-width: 1px 0 0 0;
  border-style: solid;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  
  .container {
    padding-right: 15px;
    padding-left: 15px;
    
    p {
      margin: 20px 0;
    }
  }
}
