{{#section 'head'}}
  <link rel='stylesheet' href='/busmon/styles/style.css' />
{{/section}}


<div id="sign-upper">
  <div id="logo">H</div>
  <p class="signtextbold">Froschberg</p>
  <p class="signtext">Linie 26, 27, 46</p>
</div>
<div id="sign-lower">
  <table>
    <thead>
      <tr>
        <th class="signtext">Linie</th>
        <th class="signtext">Ziel</th>
        <th class="signtext">Abfahrt<br>in Min.</th>
      </tr>
    </thead>
    <tbody>
      {{#each times}}
      <tr>
        <td>{{this.l}}</td>
        <td>{{this.to}}</td>
        <td class="textright">{{this.in}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</div>
 
<p><a href="/busmon/json">JSON</a></p>
