@font-face {
  font-family: 'LcdFont';
  src: url('/fonts/LEDBDREV.TTF') format('truetype');
}

$color-lcd-font: limegreen;
$signcolormain: rgb(240, 240, 240);
$signcolordarker: rgb(220, 220, 220);
$logocolor: green;
$logobackground: yellow;
$signwidth: 650px;
$signborderwidth: 5px;

#busmon {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin: 1em;
  p {
    margin: 0;
  }
}

@mixin sign($w)
{
  margin-left: auto;
  margin-right: auto;
  width: $w;
  background-color: $signcolormain;
  border-color: $signcolordarker; 
  border-width: $signborderwidth;
  border-style: solid;
  border-radius: 5px;
}

@mixin circle($w) {
  border-radius: 50%;
	width: $w;
	height: $w; 
  line-height: $w;
  box-sizing: content-box;
}

@mixin semicircle($w) {
  @include sign($w);
  border-radius:$w / 2 $w / 2 0 0;
  -moz-border-radius: $w / 2 $w / 2 0 0;
  -webkit-border-radius: $w / 2 $w / 2 0 0;
}

.lcd-text {
  font-family: "LcdFont";
  color: $color-lcd-font;
  white-space: pre;
}

table {
  width: 100%;
  padding: 5px;
  
  tbody tr {
    width: 100%;
    background-color: black;
  }
  
  td {
    @extend .lcd-text;
    font-size: xx-large;
    padding: 5px;
    margin: 0;
  }
}

#logo {
  font-size: 5em;
  font-family: sans-serif;
  @include circle(100px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: $logocolor;
  background-color: $logobackground;
  border-color: $logocolor; 
  border-width: 10px;
  border-style: solid;
  font-weight: bold;
  text-align: center;
}

.textright{
  text-align: right;
}

.signtext {
   font-size: 1.5em;
   margin-left: 1em;
   font-weight: normal;
   color: black;
 }
 
 .signtextbold {
   font-size: 3em;
   font-weight: 600;
   text-align: center;
   color: black;
 }

 #sign-upper {
   @include semicircle($signwidth);
 } 
 
 #sign-lower {
  @include sign($signwidth);
  margin-top: 5px;
 }  