{{#section 'head'}}
  <link rel='stylesheet' href='/bower_components/weather-icons/css/weather-icons.min.css' />
  <link rel='stylesheet' href='/bower_components/emojione/assets/css/emojione-awesome.css' />
  <link rel='stylesheet' href='/css/hello.css' />
{{/section}}

<div id="hello" class="part">
  <div class="left">
    <p data-bind="text: greeting"></p>
    <i data-bind="css: emoji"></i>
  </div>
  <div class="right">
    <div class="gif" data-bind="style: { backgroundImage: 'url(\'' + gif.url() + '\')' };">
      <div class="gradientback"></div>
    </div>
  </div>
</div>

<div id="bus" class="part">
  <!--<div id="logo">H</div>-->
  <!-- ko foreach: departures -->
  <p>
    <span data-bind="text: formatBusDisplayLine($data)">
  </p>
  <!-- /ko -->
</div>

<div id="weather" class="part">
  <p><span data-bind="text: name"></span>, <span data-bind="text: description"></span></p>
  <i class="wi" data-bind="css: icon"></i>
  <span class="temperature" data-bind="text: temp"></span><span class="temperature">°C</span>
</div>


{{#section 'scripts'}}
  <script src="/hello/hello.client.js"></script>
{{/section}}