.hello {
  padding: 1em;
  font-size: 1rem;
  .left {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    p {
      font-size: 5em;
    }
    i {
      font-size: 8em;
    } 
  }

  .right
  {
    width: 39%;
    display: inline-block;
    .gif {
      border-radius: 2px;
      margin-left: auto;
    }
  }
}