{{#section 'head'}}
  <link rel='stylesheet' href='/bower_components/weather-icons/css/weather-icons.min.css' />
  <link rel='stylesheet' href='/bower_components/emojione/assets/css/emojione-awesome.css' />
  <link rel='stylesheet' href='/css/hello.css' />
{{/section}}

<div id="hello" class="part">
  <p>
    <span data-bind="text: text"></span>
    <i data-bind="css: emoji"></i>
  </p>
  <div class="gif" data-bind="style: { backgroundImage: 'url(\'' + gif.url() + '\')' };">
  </div>
</div>

<div id="calendar" class="part">
  <div id="appointments">
  <div class="icon">
    <time>
      <strong data-bind="text: month"></strong>
      <span data-bind="text: day"></span>
    </time>
  </div>
  <ul data-bind="foreach: appointments">
    <li>
      <strong data-bind="text: title"></strong><br>
      <i><span data-bind="text: due"></span>, <span data-bind="text: time"></span></i>
    </li>
  </ul>
  </div>
  <div id="birthdays">
    <i class="e1a-birthday"></i>
    <ul data-bind="foreach: appointments">
      <li>
        <strong data-bind="text: title"></strong>
        <i>(<span data-bind="text: due"></span>)</i>
      </li>
    </ul>
  </div>
</div>

<div id="bus-and-weather" class="part">
  <div id="bus">
    <!--<div id="logo">H</div>-->
    <!-- ko foreach: departures -->
    <p>
      <span data-bind="text: formatBusDisplayLine($data)">
    </p>
    <!-- /ko -->
  </div>

  <div id="weather">
    <p><span data-bind="text: name"></span>, <span data-bind="text: description"></span></p>
    <i class="wi" data-bind="css: icon"></i>
    <span class="temperature" data-bind="text: temp"></span><span class="temperature">°C</span>
  </div>
</div>

{{#section 'scripts'}}
  <script src="/hello/hello.client.js"></script>
{{/section}}