{{#section 'head'}}
  <link rel='stylesheet' href='/bower_components/emojione/assets/css/emojione-awesome.css' />
  <link rel='stylesheet' href='/css/hello.css' />
{{/section}}

<div class="hello">
  <div class="left">
    <p data-bind="text: greeting"></p>
    <i data-bind="css: emoji"></i>
  </div>
  <div class="right">
    <div class="gif" data-bind="style: { backgroundImage: 'url(\'' + gif.url() + '\')', width:  gif.width() + 'px', height: gif.height() + 'px' };"></div>
  </div>
</div>

<div class"bus">
  
</div>


