@import '../busmon/busmon';

.part {
  padding: 1em;
}

#hello {
  font-size: 1rem;
  .left {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    p {
      font-size: 5em;
    }
    i {
      font-size: 6em;
    } 
  }

  .right
  {
    width: 39%;
    display: inline-block;
    .gif {
      border-radius: 2px;
      margin-left: auto;
    }
  }
}

#bus {
  span {
    font-size: large;
    @extend .lcd-text;
  }
}