{{#section 'head'}}
  <link rel='stylesheet' href='/css/movies.css' />
{{/section}}

<h2>Megaplex OV Movies</h2>

<ul>
{{#each fetched}}
  <li><div class="round"><a href="/{{this.title}}"><img src="{{this.image}}"></a></div></li>
{{/each}}
</ul>