{{#section 'head'}}
  <link rel='stylesheet' href='/movies/styles/style.css' />
{{/section}}

<h2>Megaplex OV Movies</h2>

<ul>
{{#each movies}}
  <li><div class="round"><img src="{{this.image}}"></li>
  <!-- <li><a href="/{{this.title}}">{{this.title}}</a></li> -->
{{/each}}
</ul>