{{#section 'head'}}
  <link rel='stylesheet' href='/css/tvleds.css' />
{{/section}}

<div id="tvleds">
  <canvas id="color-chooser"></canvas>
</div>

{{#section 'scripts'}}
  <script src="/colors.js"></script>
  <script src="/tvleds/tvleds.client.js"></script>
{{/section}}

