{{#section 'head'}}
  <link rel='stylesheet' href='/tvleds/styles/style.css' />
  <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js" defer></script>
  <script type="text/javascript" src="/tvleds/scripts/colors.js" defer></script>
{{/section}}

<div id="container">  
</div>