{{#section 'head'}}
  <link rel='stylesheet' href='/css/tvleds.css' />
{{/section}}

<div id="colors">
  <canvas id="color-chooser" data-ledhost="{{{config.ledHost}}}"></canvas>

  <div id="color-infos">
    <p>RGB ...</p>
    <p>{{{config.ledHost}}}</p>
  </div>  
</div>

{{#section 'scripts'}}
  <script src="/tvleds/colors.js"></script>
  <script src="/tvleds/tvleds.client.js"></script>
{{/section}}

