.article {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-size: cover; 
  opacity: 0;
  transition: 1.5s;
}

.active-article {
  transition: 1.5s;
  opacity: 1;
}

.article-text {
  padding : 1em;
  background-color: rgba(0, 0, 0, 0.75);
}
