{{#section 'head'}}
  <link rel='stylesheet' href='/css/news.css' />
{{/section}}

<div id="news">
<!-- ko foreach: articles -->
  <div data-bind="style: { backgroundImage : 'url(\'' + urlToImage() + '\')' }" class="article">
    <div class="article-text">
      <h2 data-bind="text: title"></h2>
      <p data-bind="text: description"></p>
    </div>
  </div>
<!-- /ko -->
</div>

{{#section 'scripts'}}
  <script src="/news/news.client.js"></script>
{{/section}}