{{#section 'head'}}
  <link rel='stylesheet' href='/css/abc.css' />
  <link rel='stylesheet' href='/bower_components/emojione/assets/css/emojione-awesome.css' />
{{/section}}

<div id="abc">
  <p>
    <span data-bind="text: letter"></span>
    <i data-bind="css: icon"></i>
  </p>
</div>

{{#section 'scripts'}}
  <script src="/abc/abc.client.js"></script>
{{/section}}