{{#section 'head'}}
  <link rel='stylesheet' href='/css/work.css' />
{{/section}}

<div id="work">
  <div id="builds">
  <!-- ko foreach: builds -->
  <div class="build" data-bind="css: { 'build-failed' : result() === 'FAILURE' }">
    <h1 data-bind="text: name"></h1>
    <h2 data-bind="text: nr"></h2>
  </div>
  <!-- /ko -->
  </div>

  <div>
    <div class="code-reviews" data-bind="with: phabricator">
      <i class="fa fa-list fa-5x"></i>
      <div class="badge audits"><span data-bind="text: audits"></span></div>
      <div class="badge concerns"><span data-bind="text: concerns"></span></div>
    </div>
  </div>

</div>
