{{#section 'head'}}
  <link rel='stylesheet' href='/css/work.css' />
{{/section}}

<div class="dev-info">

<!-- ko foreach: builds -->
  <div class="build" data-bind="css: { 'build-failed' : result() === 'FAILURE' }">
    <h3 data-bind="text: name"></h3>
    <h2 data-bind="text: nr"></h2>
  </div>
<!-- /ko -->

<div class="code-reviews" data-bind="with: phabricator">
  <i class="fa fa-commenting-o fa-5x"></i>
  <div class="badge audits"><span data-bind="text: audits"></span></div>
  <div class="badge concerns"><span data-bind="text: concerns"></span></div>
</div>

</div>

{{#section 'scripts'}}
<script>
  $(function () {
    $(document).ready(function () {
      const viewModel = ko.mapping.fromJS({{{json fetched}}});
      ko.applyBindings(viewModel);
      setInterval(function () {
        $.getJSON("/work/api", function (data) {
          try {
            ko.mapping.fromJS(data, viewModel);
          }
          catch (e) {
            error.log(e);
          }
        });
      }, 5000);
    });
  });  
</script>
{{/section}}