$color-green: #5EB555;
$color-red: #B25957;
$color-blue: #0078EF;

.dev-info {
  display: inline-block;
}

.build {
  display: inline-block;
  background-color: $color-green;
  padding: 1.0em;
  margin: 2em;
  h2 {
    font-weight: bolder;
  }
  h3 {
    font-weight: 900;
  }
}

.build-failed {
  background-color: $color-red;
}

.build-in-progress {
  background-color: $color-blue;
}

.code-reviews {
  display: inline-block;
  padding: 1.0em;
  margin: 2em;
  position:relative;
}

.badge {
  font-size: 1.5em;
  position: absolute;
}

.audits {
  background-color: cornflowerblue;
  top: 5px;
  right: 5px;
}

.concerns {
  background-color: indianred;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
